node_modules
.pnpm-store
dist
.next
out
coverage
.playwright
test-results
.vscode
.DS_Store
.env
.env.*
!.env.example
*.log

# TS incremental build artifacts
*.tsbuildinfo
packages/**/tsconfig.tsbuildinfo


# TS build artifacts
*.tsbuildinfo
packages/**/tsconfig.tsbuildinfo

